.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.main-navigation__title {
  color: white;
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

.main-navigation__title a:hover {
  color: #f8b400;
}

/* New Title Wrapper */
.title {
  display: flex;
  align-items: center;
}

/* Link Styling */
.title a {
  display: flex;
  align-items: center;
  text-decoration: none;
  
}

/* Location Image */
.locationImg {
  width: 40px; /* Adjust as needed */
  height: 40px;
  margin-right: 10px; /* Space between image and text */
  border-radius: 50%; /* Circular image */
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}


@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}